body{  background-color: rgb(148, 148, 154);
    background-image: url("background image.jpg");	
    background-size: cover;  /* to make background image cover the page best option*/
}
div.container{
    margin: 20px;
    padding: 20px;
    color: aqua;
    border: 10px solid rgb(35, 233, 13);
    border-radius:50px;
    border-top-style:dotted;
    
    background-color: antiquewhite;
    transition: box-shadow 2s, background 2s;

}
div.container:hover{
    box-shadow: 5px 5px rgb(15, 254, 2);
   background: rgba(76, 175, 80,0.20); 
   
}

div input{              /*           this is decedent selector */
    color:red;
}

fieldset > label{
    background-color: blue;         /* this is child selector*/
}

div.goto{
    

    background-color:antiquewhite;
    margin: 20px;
    position: absolute;
    bottom: 0px;
    left: 650px;
    text-align: center;
}

